.plan {
    background-color: rgb(246, 245, 245);
}

.planHeader {
    background-color: #fff;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    min-height: 450px;
}

.planTop {
    background-size: cover;
    background-position: center;
    background-attachment: sticky;
    min-height: 300px;
    background-image: url(planT.png);
    ;
}

.planFoot {
    background-size: cover;
    background-position: center;
    background-attachment: sticky;
    min-height: 300px;
    background-image: url(PlanF.png);
    ;
}