.entery {
    background-color: blueviolet;
    min-height: 850px !important;
}

.gl {
    margin-bottom: 300px !important;
}

.mg img {
    min-width: 250px;
}

.wrapper h1 {
    color: #fff !important;
}

.bt {
    float: right;
}

.entery h4 {
    display: none;
}

@media (max-width: 575px) {
    .wrapper {
        display: none;
    }
    .entery h4 {
        display: block;
        color: #fff;
        margin-top: -150px;
    }
}