.wrapper h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 45px;
    color: antiquewhite;
    text-align: center;
    margin-top: 150px;
    position: absolute;
    left: 50%;
    /* I think this works for centering? */
    top: calc(50% - 45px);
    -webkit-transform: translate(-50%, calc(-50% - 45px));
    -ms-transform: translate(-50%, calc(-50% - 45px));
    transform: translate(-50%, calc(-50% - 45px));
}

.wrapper h1 span {
    position: absolute;
}