.start {
    background-color: #6031fd !important;
    min-height: 750px !important;
    max-height: 800px;
    overflow: hidden;
}

.start .bag {
    float: left;
}

.start .bag img {
    min-width: 200px;
    min-height: 200px;
    margin-left: -200%;
}

.start .ph {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow: hidden;
    min-height: 550px;
    background-image: linear-gradient(to bottom, #4908fb 0%, rgba(109, 71, 235, 0.527) 100%), url(Start.jpg);
    ;
}