.articleHead {
    background-size: cover;
    background-position: center;
    background-attachment: sticky;
    min-height: 400px;
    background-image: url(../Plan/PlanF.png);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}