.home {
    background-color: #fff;
    min-height: 750px !important;
    max-height: 800px;
    overflow: hidden;
}

.home .pic {
    background-color: #6031fd;
    min-height: 450px;
    max-height: 500px !important;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.home .pic img {
    min-height: 300px !important;
    min-width: 300px !important;
}

.home .nx {
    margin-top: 150px;
}

.home .nx button {
    padding: 15 20px !important;
    font-size: 18px;
    border-radius: 8px;
}