.pg {
    background-color: #fff;
    min-height: 750px !important;
    max-height: 850px !important;
}

.pg .f button {
    margin-top: -50px;
}

.pg .wrapper h1 {
    color: blueviolet !important;
    margin-top: 0px;
}

.img img {
    min-width: 150px;
}

.txt {
    margin-top: 180px;
}