.pg {
    background-color: #fff;
    min-height: 750px !important;
    max-height: 850px !important;
}

.pg .f button {
    margin-top: -50px;
}

.pg .wrapper h1 {
    color: blueviolet !important;
    margin-top: 0px;
}

.img img {
    min-width: 150px;
}

.pg h4 {
    display: none;
}

.txt {
    margin-top: 180px;
}

@media (max-width: 575px) {
    .pg h4 {
        display: block;
        margin-top: 20px;
    }
    .txt h2 {
        margin-top: -100px;
    }
}